Unit]
Description=Telegram bot 'SuperPuperTelegramBot'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/bin/bot666/sorgeny
ExecStart=/usr/bin/python3 /bot666/sorgeny/main.py  # путь до python и основного файла бота
# ExecStart=/opt/bot/bin/python /opt/bot/bot.py --serve-in-foreground  # если используется `venv` (`/opt/` как пример)
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target
